<br><br>
<div>
    <h4 class="display-4 text-center">Dashboard</h4>
    <br><br><br><br>
</div>
<div class="row">
    <div class="col-md-4 order-md-4">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/images/candidate-choice.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h1 class="display-4 card-title text-center">Candidate</h1>
                <p class="card-text text-center">Redirect to Candidate's List</p>
                <div class="text-center"><a class="m-1 btn btn-danger " [routerLink]="['/list-user']">Candidate List</a></div>
            </div>
        </div>
    </div>

    <div class="col-md-6 offset-md-2 order-md-1">
        <div class="row align-items-center h-100">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="../../../assets/images/courses-choice.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="display-4 card-title text-center">Courses</h5>
                        <p class="card-text text-center">Redirect to Course's List</p>
                        <div class="text-center"><a class="m-1 btn btn-danger" [routerLink]="['/list-courses']">Course's List</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br>