<br />
<br />
<div class="col-md-12">
    <h3 class="display-4 text-center">
        Edit Course
    </h3>
    <br />
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <!--Start of Course Id text box-->
        <div class="form-group row">
            <label class="col-lg-3 text-right col-sm-2 font-weight-bold" for="courseId"> Course Id: </label>
            <div class="col-sm-6 col-lg-6">
                <input type="text" class="form-control" formControlName="courseId" id="courseId" />
                <div *ngIf="submitted && editForm.controls.courseId.errors" class="error">
                    <div class="text-danger" *ngIf="editForm.controls.courseId.errors.required">
                        Course Id is Required
                    </div>
                    <div class="text-danger" *ngIf="editForm.controls.courseId.errors.pattern">
                        Course Id Must Begin with string "CU" and must be of 6 characters. For example "CU1001"
                    </div>
                </div>
            </div>
        </div>
        <!--End of Course Id text box-->

        <!--Start of Course Name text box-->
        <div class="form-group row">
            <label class="col-lg-3 text-right col-sm-2 font-weight-bold" for="courseName"> Course Name: </label>
            <div class="col-sm-6 col-lg-6">
                <input type="text" class="form-control" formControlName="courseName" id="courseName" />
                <div *ngIf="submitted && editForm.controls.courseName.errors" class="error">
                    <div class="text-danger" *ngIf="editForm.controls.courseName.errors.required">
                        Course Name is Required
                    </div>
                </div>
            </div>
        </div>
        <!--End of Course Name text box-->

        <!--Start of Course Duration text box-->
        <div class="form-group row">
            <label class="col-lg-3 text-right col-sm-2 font-weight-bold" for="courseDuration"> Course Duration (Hours): </label>
            <div class="col-sm-2 col-lg-2">
                <input type="number" class="form-control" formControlName="courseDuration" id="courseDuration" />
                <div *ngIf="submitted && editForm.controls.courseDuration.errors" class="error">
                    <div class="text-danger" *ngIf="editForm.controls.courseDuration.errors.required">
                        Course Duration is Required
                    </div>
                </div>
            </div>
        </div>
        <!--End of Course Duration text box-->

        <!--Start of Course Fees text box-->
        <div class="form-group row">
            <label class="col-lg-3 text-right col-sm-2 font-weight-bold" for="courseFee"> Course Fee: </label>
            <div class="col-sm-3 col-lg-3">
                <input type="text" class="form-control" formControlName="courseFee" id="courseFee" />
                <div *ngIf="submitted && editForm.controls.courseFee.errors" class="error">
                    <div class="text-danger" *ngIf="editForm.controls.courseFee.errors.required">
                        Course Fee is required
                    </div>
                </div>
            </div>
        </div>
        <!--End of Course Fees text box-->
        <br>
        <br>
        <br>
        <br>
        <div class="offset-lg-4 ">
            <nav class="navbar navbar-expand-sm navbar-light">
                <ul class="navbar-nav">
                    <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="m-1 btn btn-success" Button label="DepScreen">Edit
                            Course</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li class="nav-item">
                        <a class="m-1 btn btn-warning" [routerLink]="['/list-user']">Back to List</a>
                    </li>
                </ul>
            </nav>
        </div>
    </form>
</div>