<div class="container">
    <div class="text-center">
        <img src="../assets/images/logo1.png" height="150" width="150" alt="">
    </div>
        <br>
    <br>
    <h2 class="display-4 text-center">Why Coding University?</h2>
    <div class="row text-center">
        <p class="lead">Coding University was founded in 2019 with a mission to create skilled software engineers for our country and the world. We aim to bridge the gap between the quality of skills demanded by industry and the quality of skills imparted by conventional institutes.</p>
    </div>
    <br>
    <br><br>
    <div class="row">
        <div class="col-md-4 offset-md-1">
            <img src="../../../assets/images/logic.png" alt="" height="150" width="150" />
        </div>
        <div class="col-md-7">
            <div class="row align-items-center h-100">
                <div class="col">
                    <h4 class="display-4">LOGIC BUILDING</h4>
                    <p class="lead">Coding in its most essential form is nothing but problem solving. It deals with figuring out logical solutions and implementing them optimally. The process of learning to code, transforms a person into an analytical thinker with strong mathematical and logical skills.
            
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <!--  image right  -->
    <div class="row">
        <div class="col-md-4 order-md-4">
            <img src="../../../assets/images/success.png" alt="" height="250" width="250" />
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6 offset-md-1 order-md-1">
            <div class="row align-items-center h-100">
                <div class="col">
                    <h4 class="display-4">CAREER TRANSFORMATION</h4>
                    <p class="lead">Having been a standalone field for a long time, the software industry has now come neck to neck with most of the other industries by close coordination and easy integration. From the smallest light bulb to the most massive aircrafts, every industry is now implementing the use of computer programming for the convenience of the end user. A good command over coding can thus open a wide variety of employment opportunities.
                    
                    </p>
                </div>
            </div>

        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <!--  image left  -->
    <div class="row">
        <div class="col-md-4 offset-md-1">
            <img src="../../../assets/images/globe.png" alt="" height="200" width="200" />
        </div>
        <div class="col-md-7">

            <div class="row align-items-center h-100">
                <div class="col">
                    <h1 class="display-4">GLOBAL IMPACT</h1>
                    <p class="lead">
                            Computer programming these days is also being used to address some of the biggest issues that humankind is facing with like climate change, healthcare, education and many more. More than being a developer or a designer, knowledge of coding can also help you become the harbinger of the change that you want to see.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!--  image right  -->
    <h2 class="display-4 text-center">How Coding University Will Help?</h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4 order-md-4">

            <img src="../../../assets/images/courses.png" alt="" height="200" width="200" />
        </div>
        <div class="col-md-7 offset-md-1 order-md-1">

            <div class="row align-items-center h-100">
                <div class="col">
                    <h3 class="display-4">COURSES & BOOTCAMPS</h3>
                    <p class="lead">In total, we provide over 20 different courses across categories and methodologies to students. These courses comprise the most relevant subjects and technologies that are being used in the industry these days. We boast of having the most comprehensive topic coverage, and of constantly updating with the rapidly changing times.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <!--  image left  -->
    <div class="row">
        <div class="col-md-4 offset-md-1">
            <img src="../../../assets/images/learning.png" alt="" height="200" width="200" />
        </div>
        <div class="col-md-7">

            <div class="row align-items-center h-100">
                <div class="col">
                    <h1 class="display-4">HANDS-ON LEARNING</h1>
                    <p class="lead">In addition to theoretical teaching, we also offer hands-on experience to all our students. Every course has hackathons included in the course structure itself, so the student can develop from himself, and do while he learns.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>

    <!--  image right  -->
    <div class="row">
        <div class="col-md-4 order-md-4">

            <img src="../../../assets/images/team.png" alt="" height="250" width="250" />
        </div>
        <div class="col-md-7 offset-md-1 order-md-1">

            <div class="row align-items-center h-100">
                <div class="col">
                    <h3 class="display-4">COMPETENT TEAM</h3>
                    <p class="lead">Our team of teachers, administrators and developers has a combined experience that cannot be paralleled by any competitor. We have team members who have worked at global giants like Facebook, Sony, Cyanogen, Directi, American Express, Barclays and many more. With such a large amount of national and international experience, we promise only the best for our students, and nothing else.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <!--  image left  -->

    <div class="row">
        <div class="col-md-4 offset-md-1">
            <img src="../../../assets/images/calculations.png" alt="" height="200" width="200" />
        </div>
        <div class="col-md-7">
            <div class="row align-items-center h-100">
                <div class="col">
                    <h1 class="display-4">NUMBERS</h1>
                    <p class="lead">With over 6500+ students already trained, 55 years of collective experience in teaching, over 1000 success stories of internships and placements at top companies and over 30 projects, our numbers talk for themselves.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>

</div>