<br>
<br>
<div class>
    <h2 class="display-5 text-center">CLASSROOM COURSES</h2>
    <br>
    <br>
    <br>
    <!--  image left  -->
    <div class="row">
        <div class="col-md-4 offset-md-1">
            <img src="../../../assets/images/cpp_logo.png" alt="" height="150" width="150" />
        </div>
        <div class="col-md-7">
            <div class="row align-items-center h-100">
                <div class="col">
                    <h4 class="display-4">C++ FOR BEGINNERS</h4>
                    <p class="lead">Programming Fundamentals in C++
                        <br>(10 lectures)
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <!--  image right  -->
    <div class="row">
        <div class="col-md-4 order-md-4">
            <img src="../../../assets/images/algo.png" alt="" height="250" width="250" />
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6 offset-md-1 order-md-1">
            <div class="row align-items-center h-100">
                <div class="col">
                    <h4 class="display-4">ALGO++</h4>
                    <p class="lead">DS & Algorithms in C++
                        <br>(12-15 lectures)
                    </p>
                </div>
            </div>

        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <!--  image left  -->
    <div class="row">
        <div class="col-md-4 offset-md-1">
            <img src="../../../assets/images/java.png" alt="" height="300" width="150" />
        </div>
        <div class="col-md-7">

            <div class="row align-items-center h-100">
                <div class="col">
                    <h1 class="display-4">JAVA FOR BEGINNERS</h1>
                    <p class="lead">
                        Programming Fundamentals in Java<br>(10 lectures)
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <!--  image right  -->
    <div class="row">
        <div class="col-md-4 order-md-4">

            <img src="../../../assets/images/android.png" alt="" height="200" width="200" />
        </div>
        <div class="col-md-7 offset-md-1 order-md-1">

            <div class="row align-items-center h-100">
                <div class="col">
                    <h3 class="display-4">ANDROID APP DEVELOPMENT</h3>
                    <p class="lead">Building Android Apps<br>(22 lectures)
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <!--  image left  -->
    <div class="row">
        <div class="col-md-4 offset-md-1">
            <img src="../../../assets/images/nodejs.png" alt="" height="200" width="200" />
        </div>
        <div class="col-md-7">

            <div class="row align-items-center h-100">
                <div class="col">
                    <h1 class="display-4">NODEJS WEB DEVELOPMENT</h1>
                    <p class="lead">Web Design<br>(20-22 lectures)
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>

    <!--  image right  -->
    <div class="row">
        <div class="col-md-4 order-md-4">

            <img src="../../../assets/images/ml.png" alt="" height="200" width="200" />
        </div>
        <div class="col-md-7 offset-md-1 order-md-1">

            <div class="row align-items-center h-100">
                <div class="col">
                    <h3 class="display-4">MACHINE LEARNING</h3>
                    <p class="lead">Code Machine Learning Algorithms<br>(22-24 lectures)
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <!--  image left  -->

    <div class="row">
        <div class="col-md-4 offset-md-1">
            <img src="../../../assets/images/cp.png" alt="" height="200" width="200" />
        </div>
        <div class="col-md-7">

            <div class="row align-items-center h-100">
                <div class="col">
                    <h1 class="display-4">COMPETITIVE PROGRAMMING</h1>
                    <p class="lead">(10-12 lectures)
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>

</div>