<div class="container">
    <div class="text-center">
        <img src="../assets/images/logo1.png" height="150" width="150" alt="">
    </div>
    <br>
    <h2 class="display-4 text-center">OUR CENTRES</h2>
    <br/><br/>
    <hr>
    <div class="text-center">
        <div class="lead ">PITAMPURA (CORPORATE OFFICE)</div>
        <br/>
        <p>1st Floor,</p>
        <p>47, Nishant Kunj,</p>
        <p>Main Pitampura Road,</p>
        <p>New Delhi</p>
        <p>Near Kohat Enclave Metro Station</p>
        <p>(Exit from Gate # 2)</p>
        <p>(Opposite Pillar 337)</p>
    </div>
    <br>
    <hr>
    <div class="text-center">
            <div class="lead ">NOIDA CENTER</div>
            <br/>
            <p>Coding Blocks Noida,</p>
            <p>First Floor, A-73, Sector-2</p>
            <p>(50m from Sector-15 Metro Station),</p>
            <p>Noida - 201301</p>
    </div>
    <br/>
    <hr>
    <div class="text-center">
            <div class="lead ">DWARKA CENTER</div>
            <br/>
            <p>2nd Floor,</p>
            <p>Plot No. 3,</p>
            <p>Sector 11, Dwarka, New Delhi</p>
            <p>(Near  Dwarka Sec-11 Metro)</p>
    </div>
    <br><br>
</div>